{% extends "baseadmin.html.twig" %}
{% block body %}
	<form class="form-inline mt-1" method="POST" action="{{path('admin.niveaux.ajout')}}">
		<div class="form-group mr-1 mb-2">
			<input type="text" class="sm" name="leveltitle">
		</div>
		<button type="submit" class="btn btn-primary mb-2 btn-sm">Ajouter</button>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					Niveau
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			{% for niveau in niveaux %}
				<tr>

					<td>
						{{ niveau.leveltitle }}
					</td>
					<td>
						<a href="{{ path('admin.niveaux.suppr',{id:niveau.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ niveau.leveltitle }} ?')">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
